* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  margin-bottom: 0;
}

/* ........................Main Container(including header,main,aside and footer)..................... */
#main-container {
  height: 100vh;
  background-color: #0c0c3a;
  overflow-y: auto;
  color: aliceblue;
}

/* .............................Header.................................. */
#header {
  height: 10vh;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 150px #0a7aee;
}

#logo {
  align-items: center;
  display: flex;
  width: 25%;
  /* border: 2px solid green; */
}

#logo img {
  width: 70%;
}

#fav {
  margin-left: 20%;
  color: hsl(252, 5%, 62%);
  font-size: 1.5rem;
}

#search-bar-user-img {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  /* border: 2px solid green; */
  align-items: center;
}

#search-bar {
  padding: 1.5%;
  background-color: #01011b;
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  margin-right: 6%;
}

#search-bar input {
  background: transparent;
  border: none;
  outline: none;
  color: hsl(252, 5%, 62%);
  font-size: 1.1rem;
  width: 55%;
}

i {
  font-size: 24px;
  color: #646072;
}

#user {
  width: 9%;
  /* border: 2px solid yellow; */
  margin-left: 8%;
}

#user img {
  width: 95%;
  border-radius: 50%;
}

/* ..........  for responsiveness................*/
#for-responsiveness {
  display: flex;
  /* border: 2px solid yellow; */
  margin: -4px 2%;
}

/* ...................................................................... */
/* ........................MAIN.................... */
main {
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
  width: 65%;
  height: 86vh;
  margin-top: 2%;
  overflow-y: auto;
}

main::-webkit-scrollbar {
  display: none;
}

/* ...........Artist ................. */
#artist {
  display: flex;
  /* border: 2px solid yellow; */
  width: 100%;
  background-color: #030336;
}

#coldplay-image {
  width: 40%;
  /* border: 2px solid red; */
}

#coldplay-image img {
  width: 100%;
  opacity: 0.7;
}

#artist-details {
  padding: 2%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

#artist-details p {
  color: #9d9aa9;
}

#band {
  display: flex;
  justify-content: space-between;
}

#discription {
  font-size: 0.8rem;
  margin-top: 6%;
}

#more {
  display: flex;
  margin-top: 8%;
}

#more button {
  background-color: #4f0b84;
  padding: 8px 20px;
  font-size: 1.1rem;
  color: aliceblue;
  border-radius: 10px;
  border: none;
  outline: none;
}

#more p {
  margin-left: 12%;
}

#detail {
  margin-top: 10px;
}

/* ...................queue.................... */
#queue {
  margin-top: 2%;
  /* border: 2px solid skyblue; */
}

/* Queue main */
#queue-main {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* border: 2px solid pink; */
}

.queues {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* border: 2px solid green; */
  align-items: center;
  background-color: #080026;
  margin: 6px 0px;
  border-radius: 0px;
}

.queues:hover {
  filter: drop-shadow(4px 4px 4px red);
}

.artist-container {
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 80%;
}

.artist-container img {
  width: 12%;
  border-radius: 10px;
}

.currently-on-song {
  transform: rotate(-90deg);
  color: #00ff91;
}

i:hover {
  scale: 0.9;
}

.icons {
  justify-content: space-around;
  width: 15%;
  display: flex;
  align-items: center;
}

/* ......................Aside Responsive..................... */
#aside-responsive {
  flex-direction: column;
  width: 100%;
  /* border: 2px solid yellow; */
  /* overflow-y: auto; */
  margin-left: 3%;
  color: aliceblue;
  display: none;
}

/* ........................Asides....................... */
aside {
  padding: 2%;
  margin-top: 2%;
  overflow-y: auto;
  height: 86vh;
  width: 35%;
  display: flex;
  /* border: 2px solid white; */
  margin-left: 1%;
  flex-direction: column;
}

aside::-webkit-scrollbar {
  display: none;
}

#Similar-artists {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#similar-artists-head {
  /* border: 2px solid greenyellow; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  margin-bottom: 5%;
}

#similar-artist-main {
  /* border: 2px solid brown; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sArtists {
  background-color: #080026;
  width: 100%;
  display: flex;
  margin-bottom: 5%;
}

.release-img-names {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 70%;
}

.release-img-names img {
  width: 30%;
}

.options {
  margin-left: 30px;
  width: 10%;
}

.name {
  margin-left: 15px;
}

.options .btn {
  background: transparent;
  border: none;
  outline: none;
}

.options .btn:hover {
  background-color: #0c0c3a;
}

/* .......................Recently Played................................... */
#recently-played {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#recently-played-head {
  /* border: 2px solid greenyellow; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;
}

#recently-played-main {
  /* border: 2px solid brown; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.recent-played-songs {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* border: 2px solid green; */
  align-items: center;
  background-color: #080026;
  margin: 6px 0px;
  /* border-radius: 20px; */
}

.recent-played-songs:hover {
  filter: drop-shadow(4px 4px 4px red);
}

.recent-played-artists {
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 85%;
}

.recent-played-artists img {
  width: 20%;
  border-radius: 10px;
}

.currently-on-song {
  transform: rotate(-90deg);
  color: #00ff91;
}

i:hover {
  scale: 0.9;
}

/* ............................FOOTER(Our playback options)......................................... */
footer {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  left: 0px;
  /* height: 80px; */
  bottom: 2px;
  width: 100%;
  /* border: 2px solid #00ff91; */
  position: fixed;
  background-color: #101122;
}

/* //////////////////Artist container */
#artist-container {
  align-items: center;
  display: flex;
  width: 25%;
  /* border: 2px solid rgb(10, 220, 122); */
  justify-content: space-between;
}

#artist-image {
  width: 23%;
  /* border: 2px solid palevioletred; */
}

#artist-image img {
  width: 90%;
  border-radius: 10px;
}

#artist-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

#like-dislike {
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  /* border: 2px solid palevioletred; */
  justify-content: space-around;
}

/* ...............................Playback controls...................................... */
#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  /* border:2px solid white; */
}

#playback-items {
  display: flex;
  justify-content: space-between;
  width: 64%;
  /* border:2px solid #00ff91; */
}

#music-progress {
  margin-top: 4px;
  justify-content: space-between;
  display: flex;
  /* border:2px solid palevioletred; */
  width: 100%;
}

#music-progress input {
  width: 75%;
}

.music-start-end {
  position: relative;
  /* top: 0px; */
  color: antiquewhite;
  width: 10%;
  /* border: 2px solid palevioletred; */
}

#music-progress p {
  margin-bottom: 0;
}

/* ////////////////////Volume controls ...............................................................*/
#volume-controls {
  width: 22%;
  /* border: 2px solid red; */
}

#volume-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 22%;
  /* border: 2px solid rgb(10, 220, 122); */
}

#volume-range {
  display: flex;
  align-items: center;
  width: 50%;
  /* border: 2px solid orangered; */
}

#volume-range input {
  width: 100%;
}

/* ....................................MEDIA QUERY................................. */

@media (max-width: 768px) {
  #for-responsiveness {
    flex-direction: column;
  }

  aside {
    display: none;
  }

  main {
    width: 100%;
  }

  #aside-responsive {
    display: flex;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 11px;
  }

  #like-dislike {
    width: 32%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 9px;
  }

  #like-dislike {
    width: 32%;
  }
}

@media (max-width: 365px) {
  html {
    font-size: 7px;
  }

  #like-dislike {
    width: 32%;
  }
}
